.anime {
    padding: 50px 0;
    box-sizing: border-box;
    /* background-color: #789880; */
}
.anime__wrapper {

}
.anime__title {
    text-align: center;
    font-size: 25px;
    color: #fff;
    margin-bottom: 30px;
}

.anime__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.catalog {
    width: 24%;
    margin-bottom: 30px;
}
.catalog img {
    width: 100%;
    height: 200px;

}
.card__title {
    font-size: 20px;
    color: black;
}
.card__rating {
    font-size: 10px;
    color: red;
}
.theme {
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: green;
    padding: 14px 28px;
    font-size: 16px;
    width: 10%;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}




