.main {
    padding: 50px 0;
}
.main__title {
    font-size: 30px;
    color: gold;
    margin-bottom: 30px;
    font-weight: bold;
}

.main__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.main__intro {
    display: flex;
    flex-direction: column;
}

.main__intro h2 {
    font-size: 25px;
    font-weight: bold;
}

.main__name {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #4e4e4e;
}

.main__video {
    width: 500px;
    height: 300px;
}
