body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
}

.game-info {
    margin-top: 20px;
}
.validation{
    margin-top: 20px;
    text-align: center;
}
.validation>input{
    margin-bottom: 20px;
}
.game-board{
    margin-right: 30px;
}
.darkLight{
    border: 0;
    background-color: white;
    color: green;
    padding: 14px 28px;
    font-size: 16px;
    width: 10%;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    height: 20px;
}


.nick_alarm {
    background-color: tomato;
}