body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

.board_row:after {
    clear: both;
    content: "";
    display: table;
}
.valid__title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
}

.game_info {
    margin-top: 20px;
}
.validation{
    margin-top: 20px;
    text-align: center;
}
.validation>input{
    margin-bottom: 20px;
}
.game_board{
    margin-right: 30px;
    text-align: center;
}

.form {
    width: 20%;
    margin: 0 auto;
}
.form input {
    margin-bottom: 20px;
    width: 100%;
}

.form button {
    padding: 10px;
    width: 45%;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
}
.form button:hover {
    color: #fff;
    background-color: #000;
}

.darkLight{
    border: 0;
    background-color: white;
    color: green;
    padding: 14px 28px;
    font-size: 16px;
    width: 83%;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    height: 20px;
    border-radius: 40px;
}

.nick_alarm {
    background-color: tomato;
}
