body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 70px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: grid;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
}

.game-info {
    margin-top: 20px;
}
.validation{
    margin-top: 20px;
    text-align: center;
}
.validation>input{
    margin-bottom: 20px;
}
